<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Imaging" version="20.6.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="FSharp.Core" version="4.7.2" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net472" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net472" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net472" />
  <package id="Nancy" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net472" />
  <package id="Spire.PDF" version="6.7.6" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net472" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net472" />
</packages>